#game-title {
    font-size: 48px;
    color: purple;
}

canvas {
    display: block;
    border: black 1px solid;
}

.game-container {
    display: flex;
    justify-content: center;
}

#game-title {
    text-align: center;
}