#game-title {
    font-size: 48px;
    color: purple;
    font-family: 'Rubik', sans-serif;
}

#game-canvas {
    display: block;
    border: RED 1px solid;
}

#bg-canvas {
    border: red 10px solid;
}

.game-container {
    display: flex;
    justify-content: center;
}

#game-title {
    text-align: center;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
}

body {
    /* background-color: blue; */
    background-image: 
    url(
        "https://www.nba.com/images/cms/2017-06/kobe-2000-Finals.jpg?cw=1920&w=1921&x=0&ch=1080&h=2928&y=288"
    );
    background-repeat: no-repeat;
    /* background-position-x: left;
    background-position-y: bottom; */
    /* background-position: left; */
    /* background-position: top; */
    display: flex;
    align-items: center;

}

.render-game {
    margin-left: 35%;
    margin-right: 5%;
}

.directions {
    height: 500px;
    width: 400px;
    border-radius: 36px;
    /* border: 10px solid salmon; */
    background-color: rgba(255, 255, 255, 0.185);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directions > h1 {
    color: white;
    font-size: 36px;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
    margin: 5% 0%;
}

.directions p {
    color: white;
    font-family: 'Rubik', sans-serif;
    margin: 2.5% 0%;

}

#arrows {
    height: 40%;
    width: 75%;
    background-color: transparent;
    /* color: white; */
}

#space {
    height: 10%;
    width: 75%;
    border-radius: 10px;
    margin-top: 3.5%;
}